*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(to bottom right, #645CAA,70%,#EBC7E8);
  min-height: 100vh;
  font-family: sans-serif;
  padding: 40px;

}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
  flex-wrap: wrap;
}